/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(#ECB390, #e9d0c1);
}

.divBody {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* estilos del header*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgLogo {
    width: 12rem;
}

.tituloLogo {
    color: #352c2b;
    font-family: 'Square Peg', cursive;
    font-size: 6rem;
    font-weight: bold;
}

.bajoTitulo {
    color: #352c2b;
    font-size: 1.7rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 1rem;
}

.redesSociales {
    height: 3rem;
    width: 6.7rem;
    border-radius: 10px;
    margin: 10px;
    position: fixed;
    z-index: 0;
    top: 0;
    right: 0;
    animation-name: latir;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes latir {
    from {
        transform: scale(0.7);
    }

    to {
        transform: scale(0.9);
    }
}

/* estilos del nav*/

nav ul li {
       font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* estilos del main */

main {
    display: grid;
    text-align: center;
    align-items: center;
}

.parrafoPrincipal {
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 1rem;
}

.parrafoPrincipal2 {
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 1rem;
}

.imgCentral {
    width: 18rem;
    box-shadow: 5px 7px #352c2b;
}

.imgCentral2 {
    width: 18rem;
    box-shadow: 5px 7px #352c2b;
}

/*estilos de Nosotros*/
.tituloNosotros {
    color: #DD4A48;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 25px 25px;
    font-size: 1.5rem;
}

.parrafoNosotros {
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 1rem;
}
.estiloFabrica{
    box-shadow: 6px 8px rgb(45, 42, 42);
}
.estiloMandas{
    box-shadow: 6px 8px rgb(45, 42, 42);
}


/* estilos main recetas*/

.tituloComienzo {
    color: #DD4A48;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 25px 25px;
    font-size: 1.5rem;
}

.tituloRecetas {
    color: #5e3f3f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font: optional;
    font-weight: bold;
    margin-bottom: 0.3rem;
    margin-top: 1.8rem;
}

.estilosRecetas {
    color: #5e3f3f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
    margin-top: 1rem;
}

.imgRecetas{
    box-shadow: 6px 8px grey;
}

/*estilos de page productos*/

.mandarinaEstilo{
    box-shadow: 6px 8px grey;
}
.naranjaEstilo{
    box-shadow: 6px 8px grey;
}
.limaEstilo{
    box-shadow: 6px 8px grey;
}
.pomeloEstilo{
    box-shadow: 6px 8px grey;
}
.certificacionEstilo{
    box-shadow: 6px 8px grey;
}
.citricoEstilo{
    box-shadow: 6px 8px grey;
}

.pieImagenes {
    color: #5e3f3f;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    margin: 5px 10px;
}

.parrafoProductos {
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 1rem;
}

.divProductos {
    margin-top: 0.6rem;
}

.tituloProductos {
    color: #DD4A48;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 25px 25px;
    font-size: 1.5rem;
}

/*estilos de contactos*/
.tituloContacto {
    color: #DD4A48;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 25px 25px;
    font-size: 1.5rem;
}

fieldset {
   
}

input {
    margin: 2px;  
}

.imagenContacto {
    width: 100px;
    height: 100px;
    margin: 15px;
}

.imagenUbicacion {
    width: 300px;
    height: 200px;
    margin: 50px 25px 25px 25px;
    border-radius: 1rem;
}

.domicilio {
    color: #5e3f3f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}


/*estilos del footer*/

footer {
    font-size: 0.6rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #352c2b;
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}

footer {
    grid-area: footer;
}

span {
    color: blue;
}

/*media q para tablet de 768 index*/

@media screen and (min-width: 768px) {
    main {

        display: grid;
        grid-template-areas: "parrafoPrincipal"
            "imgCentral"
            "parrafoPrincipal2"
            "imgCentral2"
            "footer";
    }

    .parrafoPrincipal {
        grid-area: parrafoPrincipal;
    }

    .imgCentral {
        grid-area: imgCentral;
    }

    .parrafoPrincipal2 {
        grid-area: parrafoPrincipal2;
    }

    .imgCentral2 {
        grid-area: imgCentral2;
    }
}

/* media q para desktops de 1024px index */
@media screen and (min-width: 1024px) {
    main {
        display: grid;
        grid-template-areas: "parrafoPrincipal imgCentral"
            "parrafoPrincipal2 imgCentral2"
            "footer footer";
        grid-gap: 0.5rem;
    }

    .parrafoPrincipal {
        grid-area: parrafoPrincipal;
        margin-left: 1rem;
    }

    .imgCentral {
        grid-area: imgCentral;
        width: 80%;
    }

    .parrafoPrincipal2 {
        grid-area: parrafoPrincipal2;
        margin-right: 1rem;
    }

    .imgCentral2 {
        grid-area: imgCentral2;
        width: 80%;
        margin-top: 1rem;
    }

}

/* media q para desktops de 1024px recetas*/

@media screen and (min-width: 1024px) {
    .mainRecetas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "tituloComienzo tituloComienzo"
            "tituloRecetas tituloRecetas"
            "imgEnsalada imgYogurt"
            "estilosRecetas estilosRecetas"
            "footer footer";
        text-align: center;
        align-items: flex-start;
    }

    .tituloComienzo {
        grid-area: tituloComienzo;
    }

    .tituloRecetas {
        grid-area: tituloRecetas;
    }

    .imgEnsalada {
        grid-area: imgEnsalada;
        width: 100%;
    }

    .estiloRecetas {
        grid-area: estiloRecetas;
    }

    .imgYogurt {
        grid-area: imgYogurt;
        width: 100%;
    }
}

/*media q para tablet de 768 productos */

@media screen and (min-width: 768px) {
    .mainProductos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "tituloProductos tituloProductos"
            " parrafoProductos parrafoProductos"
            "imgMandarinas imgNaranjas "
            "imgLimas imgPomelos"
            "imgCitricos imgCertificacion"
            "footer footer";
        grid-gap: 0.5rem;
    }

    .tituloProductos {
        grid-area: tituloProductos;
    }

    .parrafoProductos {
        grid-area: parrafoProductos;
    }

    .imgMandarinas {
        grid-area: imgMandarinas;
        width: auto;
    }

    .imgNaranjas {
        grid-area: imgNaranjas;
        width: auto;
    }

    .imgPomelos {
        grid-area: imgPomelos;
        width: auto;
    }

    .imgLimas {
        grid-area: imgLimas;
        width: auto;
    }

    .imgCitricos {
        grid-area: imgCitricos;
        width: auto;
    }

    .imgCertificacion {
        grid-area: imgCertificacion;
        width: auto;
    }

    footer {
        grid-area: footer;
    }
}

/* media q para tablet de 1024 productos*/

@media screen and (min-width: 1024px) {
    .mainProductos {
        display: grid;
        grid-template-areas: "tituloProductos tituloProductos"
            "parrafoProductos parrafoProductos"
            "imgMandarinas imgNaranjas "
            "imgLimas imgPomelos"
            "imgCitricos imgCertificacion"
            "footer footer";
        text-align: center;
        grid-gap: 0.5rem;
    }

    .tituloProductos {
        grid-area: tituloProductos;
    }

    .parrafoProductos {
        grid-area: parrafoProductos;
    }

    .imgMandarinas {
        grid-area: imgMandarinas;
    }

    .imgNaranjas {
        grid-area: imgNaranjas;
    }

    .imgPomelos {
        grid-area: imgPomelos;
    }

    .imgLimas {
        grid-area: imgLimas;
    }

    .imgCitricos {
        grid-area: imgCitricos;
    }

    .imgCertificacion {
        grid-area: imgCertificacion;
    }

    footer {
        grid-area: footer;
    }
}

/* media q para desktops de 1024px nosotros */
@media screen and (min-width: 1024px) {
    .mainNosotros {
        display: grid;
        grid-template-areas: "tituloNosotros tituloNosotros"
            "imgFabrica parrafoNosotros "
            "imgTrabajo vidCitricos"
            "footer footer";
        text-align: center;
        grid-gap: 1rem;
        margin: 2rem;
    }

    .parrafoNosotros {
        grid-area: parrafoNosotros;
    }

    .vidCitricos {
        grid-area: vidCitricos;
    }

    .imgTrabajo {
        grid-area: imgTrabajo;
    }

    .imgFabrica {
        grid-area: imgFabrica;
    }

    .tituloNosotros {
        grid-area: tituloNosotros;
    }

}

/* media q para desktops de 1024px Contacto*/

@media screen and (min-width: 1024px) {
    .mainContacto {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "tituloComienzo tituloComienzo"
            "formularioContacto imagenUbicacion"
            "formularioContacto domicilio"
            "footer footer";
    }

    .tituloContacto {
        grid-area: tituloComienzo;
    }

    .imgagenUbicacion {
        grid-area: imgagenUbicacion;
        width: 100%;
    }

    .formularioContacto {
        grid-area: formularioContacto;
    }

    .domicilio {
        grid-area: domicilio;
    }

    .imagenContacto {
        grid-area: imagenContacto;
        display: none;

    }
}